* {
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.8rem;
  padding: 0 10%;
  margin: 50px;
}

@media (max-width: 1024px) {
  p {
    padding: 0 5%;
    margin: 50px 10px;
  }
}

p a {
  color: #e0474c;
  text-decoration: none;
}
